{% extends 'portfolio/base.html' %} 

{% load static %}

{% block content %}

<main class="analysis-container w3-main" style="margin-left: 200px; width: 100%">
    <span class="title">ALL ANALYSES</span>

    <span class="sub-title"> {{ analyses.count }} Analyses Written | By Javarrus </span>
    
    <div class="analysis-grid">
        {% for analysis in analyses %}
            <a class="analysis w3-third w3-container w3-margin-bottom project-container" href="{% url 'analysis:detail' analysis.id %}">
                <img src="{{ analysis.image.url }}" alt="{{ analysis.title }}" />
                <h5 class="date">{{ analysis.date | date:'F d Y' | upper }}</h5>
                <p>{{ analysis.description | truncatechars:100 }}</p>
            </a>
        {% endfor analyses %}
    </div>
</main>
    
{% endblock content%}
