* {
    box-sizing: border-box;
}

body {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: none !important;
}

h4 {
    color: white;
}

/* _____________________________________________________________ START _____________________________________________________________ */
/*keyframe animations*/
.first {
    -webkit-animation: bannermove 50s linear infinite;
    -moz-animation: bannermove 50s linear infinite;
    -ms-animation: bannermove 50s linear infinite;
    -o-animation: bannermove 50s linear infinite;
    animation: bannermove 50s linear infinite;
}

@keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: calc(-2 * 100vh);
    }
}

@-moz-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: calc(-2 * 100vh);
    }
}

@-webkit-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: calc(-2 * 100vh);
    }
}

@-ms-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: calc(-2 * 100vh);
    }
}

@-o-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: calc(-2 * 100vh);
    }
}
.photobanner {
    height: 50px;
    width: 200vh;
    overflow-y: hidden;
    background-color: white;
}

.photobanner-wrap:hover .photobanner img {
    animation-play-state: paused;
}

.photobanner img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    height: 100%;
    background-color: white;
    margin: 0 3rem;
}

.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
/* _____________________________________________________________ END _____________________________________________________________ */

.portfolio-title::after {
    content: "VARRUS";
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 19px;
    /* border-radius: 13px; */
    background-clip: padding-box;
    background-color: black;
    color: black;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
    color: #9e9e9e;
}

nav {
    display: flex;
    background-color: #9e9e9e;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    z-index: 4;
    overflow: hidden;
    /* padding-right: 2rem; */
    padding-right: 0;
}

div.social-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    background-color: black;
    margin-top: 5rem;
}

div#about-me {
    width: 100%;
    height: 35rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: white;
}

div#about-me img {
    height: 100%;
}

div#about-me p {
    position: absolute;
    text-align: center;
    top: 15%;
    width: 45%;
    left: 5%;
    font-size: 1.5rem;
}

a.project-container:link { text-decoration: none; }
a.project-container:visited { text-decoration: none; }
a.project-container:hover { text-decoration: none; }
a.project-container:active { text-decoration: none; }

div#filter {
    color: white;
}

.button-filter {
    cursor: not-allowed !important; 
}

.portfolio-grid {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    gap: 3rem;
}

.project-container {
    box-shadow: 0px 0px 10px 2px white;
    border-radius: 0px;
    padding: 0;
    height: fit-content;
    flex: 0.5;
}

.project-container:hover {
    box-shadow: 0px 0px 10px 6px gold;
}

.project-img {
    width: 100%;
    border-bottom: solid 0.25px black;
}

div#technical-skills {
    color: white;
}

.tech-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: scroll;
    -webkit-text-fill-color: black;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease;
    color: black;
}

.tech-row::-webkit-scrollbar,
.tech-row::-webkit-scrollbar-thumb {
    width: 0;
    height: 24px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

.tech-row::-webkit-scrollbar-thumb {
    box-shadow: inset 50 100 200 10px;
}

.tech-row:hover {
    color: rgba(269, 269, 269, 0.3);
}

.icon {
    width: 4.35rem;
    height: 4.35rem;
}

footer {
    height: 25rem;
    display: flex;
    gap: 1rem;
}

.blog {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav.nav-title {
    right: 0;
    color: black;
    justify-content: center;
}

nav#mySidebar {
    overflow: hidden;
    z-index: 6;
    background-color: #9e9e9e;
    color: black;
}

div#nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-content: center;
    margin: 0 auto;
}

@media screen and (min-width: 993px) {
    body,
    nav {
        width: calc(100% - 200px);
    }

    main {
        margin-top: 0rem;
    }

    nav.nav-title {
        display: none;
    }

    h1.portfolio-title {
        margin-right: auto;
        margin-left: auto;
    }

    .portfolio-title::after {
        content: "VARRUS PORTFOLIO";
    }

    div#about-me {
        padding: 0 10%;
        font-size: 1.5rem;
    }
}
