{% extends 'portfolio/base.html' %} 

{% block footer %}
<footer class="w3-container w3-padding-32 w3-dark-grey">
    <div class="w3-third">
        <h3>MISSION</h3>
        <p>Changing the world, one byte at a time!</p>
        <p>~ Varrus</p>
    </div>
    <div class="w3-third w3-border-right w3-border-left blog">
        <h3>BLOG POSTS</h3>
        <h4>COMING SOON!</h4>
        <!-- <ul class="w3-ul w3-hoverable">
<li class="w3-padding-16">
  <img
    src="/w3images/workshop.jpg"
    class="w3-left w3-margin-right"
    style="width: 50px"
  />
  <span class="w3-large">Lorem</span><br />
  <span>Sed mattis nunc</span>
</li>
<li class="w3-padding-16">
  <img
    src="/w3images/gondol.jpg"
    class="w3-left w3-margin-right"
    style="width: 50px"
  />
  <span class="w3-large">Ipsum</span><br />
  <span>Praes tinci sed</span>
</li>
</ul> -->
    </div>

    <div class="w3-third">
        <h3>SKILL TAGS (#)</h3>
        <p>
            <span class="w3-tag w3-black w3-margin-bottom">FRONT END</span>
            <span class="w3-tag w3-black w3-margin-bottom">JAVASCRIPT</span>
            <span class="w3-tag w3-black w3-margin-bottom">TYPESCRIPT</span>
            <span class="w3-tag w3-black w3-margin-bottom">HTML</span>
            <span class="w3-tag w3-black w3-margin-bottom">CSS</span>
            <span class="w3-tag w3-black w3-margin-bottom">REDIS</span>
            <span class="w3-tag w3-black w3-margin-bottom">POSTGRESSQL</span>
            <span class="w3-tag w3-black w3-margin-bottom"
                >DATA VISUALIZATION</span
            >
            <span class="w3-tag w3-black w3-margin-bottom">Consulting</span>
            <span class="w3-tag w3-black w3-margin-bottom">Cloud</span>
            <span class="w3-tag w3-black w3-margin-bottom">Blockchain</span>
        </p>
    </div>
</footer>
{% endblock footer %}
